# Lines starting with '#' are considered comments.
# Ignore (generated) *.o files
*.[oa]
# Ignore (generated) *.exe files
*.exe
# Ignore (generated) *.out files
*.out
# Ignore (generated) *.class files
*.class
